/* Color codes:
Red - af1238
White- f6f1f2
Yellow- f5aa6e
Green- 1a6464
ButtonRed- f23509  */

html {
  scroll-behavior: smooth;
}

.homeBtn{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

body {
  background-color: #af1238;
  font-family: 'Sono', sans-serif;
}

.navbar {
  background-color: #af1238;
}

.mainImg {
  height: 250px;
  width: 332px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contents {
  background-color: #f6f1f2;
  padding-top: 5px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.ico {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fLogo{
  height: 100px;
  width: 100px;
  bottom: 0;
  margin-top: 10px;
}

.nav-link{
  color: white;
}

.footer{
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  width: 100%;
  bottom: 0;
}


@media screen and (min-width: 690px) {
  .contents {
    background-color: #f6f1f2;
    padding-top: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }

  .mainImg {
    height: 437px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

